.content-wrapper
    display flex
    display -webkit-inline-box
    margin-top 6rem

    .content
        width 100%

        &-inner
            font-family 'Galaxie'
            max-width 96.8rem
            margin 0 auto
            padding 0 2.4rem
            text-align justify