// That project is using RSCSS
// https://willianjusten.com.br/falando-sobre-rscss/

// Settings ( Global Variables )
@import './settings/*'

// Tools
// @import './tools/*'

// Generic ( resets, etc... )
@import './generic/*'

// Base ( Basic selectors styles - Ex: h1, h2, table, etc...)
// @import './base/*'

// Object ( Reusable classes on whole application - Ex: buttons, lists, panels, etc...)
@import './objects/*'

// Components ( Specific components )
@import './components/*'

// Theme
// Used for quick tests, like A/B tests.

// Trumps ( Helpers )
// Responsible for the major specifies, using even !important if necessary
// Ex: .hidden { display: block !important }
// @import './trumps/*'
