.brand
    height 2.4rem
    width 6rem
    background url('/images/HUGE-white.png') no-repeat center center
    background-size 100%
    margin 0 2.4rem

    @media screen and (max-width 768px)
        display none

        &.open
            display block