.mobile-menu
    display none

@media screen and (max-width 768px)
    .mobile-menu-toggle
        background url('/images/toggle-open.svg') no-repeat center center
        width 6rem
        height 6rem
        cursor pointer

        &.open
            background url('/images/toggle-close.svg') no-repeat center center
            text-align right

    .mobile-menu
        display block
        width 0
        transition all .2s ease-in-out

        &.open,
        &.open > ul
            width calc(100vw - 7.4rem)

        > ul
            transition all .2s ease-in-out
            width 0
            height calc(100% - 12rem)
            display flex
            flex-direction column
            background white
            padding 1.2rem 0 0 0
            position fixed
            top 6rem
            overflow auto
            z-index 2

            > li
                > ul
                    display none

                > a
                    transition all .1s ease-in-out
                    display block
                    padding 0 0 0 2.4rem
                    color black
                    height 4.8rem
                    line-height 4.8rem
                    cursor pointer

                    > .chevron
                        background url('/images/chevron.png') no-repeat center center
                        display inline-block
                        background-size 2.4rem
                        width 2.8rem
                        height 4.8rem
                        padding-right 2.4rem
                        float right

                        &.invert
                            transform rotate(180deg)

                    &:hover
                        background $secondaryColor

                    // Second Level
                    &.open + ul
                        display block

                        > li > a
                            font-family 'Galaxie'
                            display block
                            transition all .1s ease-in-out
                            height 4.8rem
                            line-height 4.8rem
                            padding 0 2.4rem
                            cursor pointer
                            
                            &:hover
                                background $secondaryColor
                                color $mainColor
                                